table,th,td{
    padding: 3px;
    vertical-align: middle;
    text-align: center;
    column-width: auto;
}

.left *{
    text-align: left;
}

th{
    border: 1px solid gray;
    border-radius: 6px;
}

.bolinhaEmpreendimento{
    width: 20px;
    height: 20px;
    background-image: url("legend/31_MCMVcomEntornoweb_0.png");
    background-size: 20px 20px;
}